.bolas{
	height: 42px; 
	width: 42px; 
	border-radius: 50%; 
	background: radial-gradient(blue, blue, white);
}

.display{
	display: none;
}

.resultado{
	display: none;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 20px;
	font-family: Arial;
}

.letra{
	color: white; 
	font-family: Arial; 
	font-size: 30px; 
	text-align: center;
}

.fondo{
	background-color: #58B3FC;
}

.pt20{
	padding-top: 20px;
}

.start{
	margin-top: 180px;
}

.nombreranking{
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 75px;
	display: none;
}

.ranking{
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 75px;
	display: none;
	
}

.cerrar{
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 75px;
	display: none;
}

.cuadro{
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 20px;
}

.botonps{
	background-color: blue; 
	border-radius: 8px;
	color: white;
}

.correcto{
	margin-top: 250px;
	display: none;
	color: green;
}

.incorrecto{
	margin-top: 250px;
	display: none;
	color: red;
}

.tiempo{
	height: 92px; 
	width: 92px; 
	border-radius: 50%; 
	background: radial-gradient(blue, blue, white);
	text-align: center;
	font-family: Arial; 
	font-size: 30px;
	color: white;
}

.contador{
	height: 50px; 
	width: 100px;  
	border-radius: 15px;
	text-align: center;
	font-family: Arial;
	font-size: 30px; 
	color: white;
	padding-top: 5px;
}

.cuentaatras{
	padding-top: 25px;
}

.border{
	height: 100vh; 
	border: solid 5px;
}

.borderA{
	border-color: #034FF8;
}

.borderN{
	border-color: #F67316;
}

.mt140{
	margin-top: 140px;
}

.mt35{
	margin-top: 35px;
}

.mt15{
	margin-top: 15px;
}

.mt250{
	margin-top: 250px;
}

.imagen{
	height: 100%; 
	width: 100%;
}